@font-face {
    font-family: 'Futura';
    src: url(./fonts/FuturaCyrillicBook.ttf);
}
@font-face {
    font-family: 'FuturaBold';
    src: url(./fonts/FuturaCyrillicBold.ttf);
}

*{
    margin:0;
    padding:0;
    font-size: 1.05em;
    font-family: 'Futura';
}

body{
    min-height: 100vh;
}

.sidebar{
    display: none;
}

a{
    font-family: 'FuturaBold';
    text-decoration: none;
    color: #FABB15;
}

a:visited{
    font-family: 'FuturaBold';
    text-decoration: none;
    color: #FABB15;
}

a:hover{
    text-decoration: underline;
}

.navbar a{
    border-radius: 50px;
    padding: 0.3em 0.5em;
    transition: 0.2s;
}
.navbar a:hover{
    background: #FABB15;
    color: #000000;
    text-decoration: none;
}



h1{
    font-size: 2em;
    margin: 0.5em auto;
    font-family: 'Aachen Bold';
    text-shadow: 0 1px 0 #BE2026, 0 2px 0 #BE2026,
    0 3px 0 #BE2026, 0 4px 0 #BE2026,
    0 5px 0 #BE2026, 0 6px 0 #BE2026;
}
h2{
    font-size: 1.6em;
    margin: 0.5em auto;
}

body{
    background-color: #F2E5D7;
    color: #000000;
}

.aboutme{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
}

.aboutmetext{
    width: 40vw;
    text-align: justify;
}

#hithere{
    font-family: 'FuturaBold';
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#hi,#contact{
    font-family: 'FuturaBold';
    font-size: 1.8em;
}

#hi{
    margin-bottom: 1em;
}

.scrolldown{
    display: block;
    margin: 1em auto;
}

.school{
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: space-evenly;
    align-items: flex-end;
}

.schooltext {
    margin-top: 1em;
    width: 40vw;
}

.navbar{
    margin: 0 auto 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #000000;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}

.dpimg{
    margin-top: 1em;
    align-content: center;
}

.schooltext p{
    margin-bottom: 1em;
    text-align: justify;
}

.tfilogo{
    background-color: #fff;
    padding-top: 0.5em!important; 
}

.navoptions{
    display: inline-block;
    margin-right: 2em;
}

.class {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.class2, .ahead {
    width: 90vw;
    margin-top: 1em;
    margin-left: 2.2em;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: justify;
}

.classtext{
    width: 60vw;
    text-align: justify;
}

.classtext2 {
    width: 40vw;
    text-align: justify;
}

#instiindia, #instiself, #instiothers, #collab, #quest, .aheadheading{
    font-family: 'FuturaBold';
    font-size: 1.7em;
}

#instiindia, #instiothers{
    margin-bottom: 1em;
}

#collab, #quest{
    margin-bottom: 1.5em;
}

.questtext, .collabtext {
    width: 52vw;
}

.questseekers{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-bottom: 1.5em;
    margin-top: 1em;
    text-align: justify;
}

.collab {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
}

.lothers, .lself, .lindia {
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lotherscontent, .lselfcontent, .lindiacontent {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.lself, .lindia{
    width: 90vw;
    text-align: justify;
}

.instidiscussions, .instiholistic, .insticommunity{
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
}

.lselfcontent{
    flex-direction: column;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

.selfvideo {
    width: 25vw;
    margin: 1em;
    margin-right: 2em;
}

.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FABB15;
}

.aboutme2{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
}

.aboutmetext {
    width: 40vw;
    text-align: justify;
}

.abouttext {
    width: 70vw;
    text-align: justify;
}

li{
    color: #fff;
    list-style-position: inside;
}

li a{
    color: #fff;
}

li a:visited{
    color: #fff;
}

.left{
    margin-left: 2em;
}

input[type="radio"]{
    display: none;
}

@media screen and (max-width:1155px){
    .mobiletitle{
        margin-top: 1em;
    }
    body{
        font-size: 0.9em;
    }
    #sidebar-active{
        display: none;
    }
    .open-sidebar{
        position:fixed;
        top:0.2em;
        right:0.2em;
    }
    .close-sidebar{
        margin-bottom: 1em;
        display: flex;
        justify-content: flex-end;
    }
    .navbar{
        display: none;
    }
    .sidebar{
        display: flex;
    }
    button{
        background: none;
    }
    .hamburger{
        cursor: pointer;
    }
    .nav-bar{
        height: 100vh;
        position: fixed;
        top:0;
        right: -100%;
        width: 25vw;
        background: #FABB15;
        transition: 0.4s ease-out;
        z-index: 10;
    }
    .nav-bar ul{
        display: block;
        width: fit-content;
        margin-left: 0.8em;
        text-align: center;
        list-style: none;
    }
    .nav-bar ul li{
        margin-bottom: 1em;
    }
    .nav-bar li a{
        color: #000000;
    }
    #sidebar-active:checked ~ .nav-bar{
        right: 0;
    }
    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
}

@media screen and (max-width:755px){
    body{
        font-size: 0.7em;
    }
    h1{
        font-size: 1.6em;
    }
    .nav-bar{
        font-size: 1.5em;
        width: 45vw;
        height: 105vh;
    }
}

@media screen and (max-width:534px){
    h1{
        font-size: 1.5em;
    }
}